/*General*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;

}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
/*Header*/

#header-main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
    background-color: #f7f7f7;
    color: black;
    border-bottom: 1px solid darkgray;
}

#header-main img {
    width: 100px;
    height: 100px;
}
#header-sub {
    background-color: #f7f7f7;
    padding: 20px;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

#search-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.searchTerm {
    width: 100%;
    border: 3px solid black;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: black;
}

.searchTerm:focus {
    color: black;
}

.searchButton {
    width: 40px;
    height: 35px;
    border: 3px solid black;
    background: #d9d9d9;
    text-align: center;
    color: black;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.wrap {
    width: 30%;
    transform: translate(-0%, 0%);
}

/*Home Page*/

#home-page-promo-img {
    width: 80%;
    height: 100%;
}

#home-page-promo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: #f7f7f7;
}

#home-page-popular {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #f7f7f7;
}
#home-page-popular ul {
    width: 50%;
    height: 100%;
}

/*Login*/

#login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: #f7f7f7;
}

#login-container a {
    color: darkred;
}

/*Register*/

#register-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: #f7f7f7;
}

/*Account Page*/

#account-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f7f7f7;

}

#account-page-container span{
    font-size: 1.8rem;
    color: darkred;
}

#account-page-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*Product Card*/

.product-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.listing
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    top: 20%;
    left: 50%;
    width: 800px;
}

.product
{
    width: 240px;
    position: relative;
}

.product a
{
    text-decoration: none;
}

.img-wrapper
{
    display: block;
    width: 100%;
    height: 240px;
    border-bottom: 0;
    overflow: hidden;
    text-align: center;
    border-radius: 50%;
}

.img-wrapper img {
    width: 35%;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.info
{
    width: 100%;
    background: #000;
    color: #fff;
    position: relative;
    padding: 40px 10px 20px 10px;
    text-align: center;
    border-radius: 5px;
}

.title
{
    font-size: 1.2em;
}
.title a
{
    color: inherit;
}

.price
{
    background: #e32d2c;
    position: absolute;
    font-size: 1.3em;
    padding: 4px 13px;
    top: -15px;
    right: 10px;
    border-radius: 5px;
}

/*Product Detail*/
.wrapper {
    height: 420px;
    width: 654px;
    margin: 50px auto;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.wrapper a{
    color: darkred;
    position: relative;
    top: 10px;
    left: 30px;
}

.product-img {
    float: left;
    height: 420px;
    width: 327px;
}

.product-img img {
    border-radius: 7px 0 0 7px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-info {
    float: left;
    height: 420px;
    width: 327px;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;
}

.product-text {
    height: 300px;
    width: 327px;
}

.product-text h1 {
    margin: 0 0 0 38px;
    padding-top: 52px;
    font-size: 34px;
    color: #474747;
}

.product-text h1,
.product-price-btn p {
    font-family: 'Bentham', serif;
}

.product-text h2 {
    margin: 0 0 47px 38px;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #d2d2d2;
    letter-spacing: 0.2em;
}

.product-text p {
    height: 125px;
    margin: 0 0 0 38px;
    font-family: 'Playfair Display', serif;
    color: #8d8d8d;
    line-height: 1.7em;
    font-size: 15px;
    font-weight: lighter;
    overflow: hidden;
}

.product-price-btn {
    height: 103px;
    width: 327px;
    margin-top: 17px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.product-price-btn p {
    display: inline-block;
    position: absolute;
    top: -80px;
    height: 50px;
    font-family: 'Trocchi', serif;
    margin: 0 0 0 38px;
    font-size: 28px;
    font-weight: lighter;
    color: #474747;
}

.wrapper span {
    display: inline-block;
    height: 50px;
    font-family: 'Suranna', serif;
    font-size: 34px;
}

.product-price-btn button {
    float: right;
    display: inline-block;
    height: 50px;
    width: 176px;
    margin: 0 40px 0 16px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: #e32d2c;
    cursor: pointer;
    outline: none;
}

.product-price-btn button:hover {
    background-color: black;
}
/*Product Create*/
#product-create-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
}

/*Cart*/

#cart-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
}

#cart-main{
    width: 70%;
    height: 85%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    padding: 20px;
    box-sizing: border-box;
}

.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    font-weight: bold;
}

.cart-item img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.cart-item-name{
    width: 100px;
}

.cart-item-remove a{
    color: red;
}

.total-amount{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    gap: 10px;
}
.checkout-btn{
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e32d2c;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.checkout-btn button{
    background-color: #e32d2c;
    border: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

/*Checkout*/
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
    width: 100%;
}

.col-25 {
    flex: 25%;
}

.col-50 {
    flex: 50%;
}

.col-75 {
    flex: 75%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

.container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

.row input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.row label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.btn {
    background-color: #e32d2c;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.btn:hover {
    background-color: black;
}

span.price {
    float: right;
    color: grey;
}

/*Footer*/
